

<!DOCTYPE html>
<html lang="en">
<title>
    <%= title %>
</title>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    
</head>

<html>
  
   <body>
  
      <form action="/user" method="post">
          <!-- <h2>Login</h2>
          <div class="input-field">
              <input type="text" name="username" id="username" placeholder="Enter Username">
          </div>
          <div class="input-field">
              <input type="password" name="password" id="password" placeholder="Enter Password">
          </div>
          <input type="submit" value="LogIn"> -->
          


          <div class="sidenav">
            
            <div class="login-main-text">
               <h2>Biermanager<br> Login Page</h2>
               <p>Login or register from here to access.</p>
               <img class="sidenavIMG" src="Beer.jpg" alt="Italian Trulli">
            </div>
         </div>
         <div class="main">
            <div class="col-md-6 col-sm-12">
               <div class="login-form">
                  <form>
                     <div class="form-group">
                        <label>User Name</label>
                        <!-- <input type="text" class="form-control" placeholder="User Name"> -->
                        <input type="text" name="username" id="username" placeholder="Enter Username" class="form-control">
                     </div>
                     <div class="form-group">
                        <label>Password</label>
                        <!-- <input type="password" class="form-control" placeholder="Password"> -->
                        <input type="password" name="password" id="password" placeholder="Enter Password" class="form-control">
                     </div>
                     <!-- <button type="submit" class="btn btn-black">Login</button> -->
                     <!-- <button type="submit" class="btn btn-secondary">Register</button> -->
                     <input type="submit" value="LogIn"class="btn btn-black">
                  </form>
               </div>
            </div>
         </div>



      </form>
  </body>
</html>






