<header class="p-3 bg-info text-white mb-4">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
                <li><a href="/articles" class="nav-link px-2 text-white">Articles</a></li>
                <li><a href="#" class="nav-link px-2 text-white">About</a></li>
                <li><a href="/login" class="nav-link px-2 text-white">About</a></li>
            </ul>
            <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form> -->
            <div class="text-end">
                <!-- <button  onclick="window.location.href='/login'" type="button" class="btn btn-outline-light me-2">Login<button -->
                <!-- <button type="button" class="btn btn-warning">Sign-up</button> -->
            <!-- <form action="/logout" method="post"> -->
                <button type="submit"  onclick="window.location.href = 'logout';" class="btn btn-outline-light me-2">Logout</button>
                <!-- <button onclick="window.location.href = 'logout';">Hier klicken</button> -->
                <!-- <a href='/logout'>click to logout</a> -->
            <!-- </form> -->
            </div>
        </div>
    </div>
</header>